@import url(../style.css);



a {
    color: var(--white-color);
}

.sectionProject {
    background-color: var(--primary-black-color);
    /* min-height: 500vh; */
    width: 100%;
}



.project-top-main {
    padding: 0 var(--section-paddingLF);
    padding-top: 10vw;
    padding-bottom: 3vw;
}

.headingProject {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: end;
    /* background-color: green; */
    align-self: end;
    justify-self: end;
    padding-top: 1.5vw;
}

.projectTitle {
    overflow: hidden;
}

.projectTitle h2 {
    font-size: 6.5vw;
    line-height: 1;
    font-weight: 500;
    /* background-color: red; */
}

.projectTitle h2 span {
    display: inline-block;
}

.project-work {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.project-work .projectBTn {
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: 500;
    background-color: var(--white-color);
    padding: 0.5vw 1vw;
    border-radius: 25px;
    color: var(--primary-black-color);
    margin-right: 0.5vw;
}

.headingProject p {
    font-size: 1.4vw;
    line-height: 1.2;
}


/* Style Banner Img */
.projectBanner {
    background-image: url('../../images/accernRhea/65a93a622eab54a319b876e4_Video.webp');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    isolation: isolate;
    /* z-index: -1; */
}

.projectBannerPinGu {
    background-image: url(../../images/goPingu/651e6db22abe64493756b054_54.webp);
}

.projectBanner video {
    opacity: 0;
    position: absolute;
    top: 40%;
    width: 0;
    height: 0;
    z-index: 2;
    transform: scaleX(0.7) scaleY(0);
    object-fit: cover;
    /* object-position: center; */
}

.prjctCrsr {
    background-color: var(--white-color);
    color: var(--primary-black-color);
}

.projectBanner .videoOverlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}





/* About the project section styling */
.aboutProject {
    background-color: var(--primary-black-color);
    padding: var(--section-paddingLF);
    height: 130vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.aboutProjectLeft {
    overflow: hidden;
}

.aboutProjectLeft h2 {
    line-height: 1.1;
    font-weight: 500;
    font-size: 3.5vw;
}

.aboutProjectLeft h2 span {
    display: inline-block;
}

.aboutProjectRight p {
    line-height: 1.2;
    font-size: 1.6vw;
    font-weight: 400;
    padding-bottom: 1.8vw;
}

.aboutProjectRightTop {
    padding-bottom: 2vw;
}

.aboutProjectRightTop .projectSubHeading{
    font-size: 1.1vw;
    font-weight: 500;
    color: var(--light-green);
}


/* Review Section Style */
.projectReview {
    background-color: var(--primary-black-color);
    padding: 0 var(--section-paddingNavTB);
    padding-bottom: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* background-color: red; */
}

.projectReviewMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #046217; */
    /* margin: 0 auto; */
    width: 52%;
    text-align: center;
}

.projectReviewMain img {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    margin-top: -1.1vw;
    border: 3px solid var(--primary-black-color);
}

.projectReviewMain h3 {
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 0.5vw;
}

.projectReviewMain svg {
    font-size: 1.8vw;
    margin-top: 2.5vw;
    margin-bottom: 1vw;
}

.projectReviewMain h5 {
    font-size: 1vw;
    font-weight: 300;
}

.projectReviewMain p {
    font-size: 2.5vw;
    line-height: 1.1;
}


/* Grid Gallery Images styling */
.gridGallery {
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
}

.projectGridGallery {
    background-color: var(--white-color);
    width: 100%;
    /* min-height: 100vh; */
    padding: 0.4vw 0;
}

.projectGalleryMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.4vw;
}

.projectGalleryMain img {
    width: 100%;
    height: 100%;
}


/* Project Detail Page */
.projectDetail {
    color: var(--primary-black-color);
    background-color: var(--white-color);
}

.projectDetailMain {
    padding: var(--section-paddingLF);
    /* background-color: crimson; */
}

/* .proDetailHP { */
    /* display: flex;
    align-items: start;
    justify-content: space-between; */
/* } */

.detailTitle {
    overflow: hidden;
    /* background-color: red; */
}

.detailTitle h2 {
    font-size: 6vw;
    font-weight: 500;
    line-height: 1;
}

.detailContent {
    display: flex;
    align-items: flex-start;
    justify-content: right;
    /* background-color: green; */
    padding-bottom: 7vw;
}

.detailContent p {
    /* background-color: blue; */
    padding-right: 3vw;
    width: 50%;
    font-size: 1.8vw;
    font-weight: 300;
}

.proDetailV video {
    height: 100%;
    width: 100%;
}

.proDetailImg img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}


/* section 2 starts */
.projectDetailMain2 {
    padding: 0 var(--section-paddingLF);
}

.proDetail-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: orange; */
    padding-bottom: 7vw;
}

.detailTitle2 {
    width: 50%;
    /* background-color: blue; */
}

.detailTitle2 h2{
    font-size: 3.5vw;
    font-weight: 500;
    line-height: 1;
}

.detailContent2 {
    /* background-color: green; */
    width: 50%;
}

.detailContent2 p{
    width: 80%;
    font-size: 1.8vw;
    font-weight: 300;
}


/* Blog Section Starts Here */
.blogSectionSM {
    width: 100%;
    padding-bottom: 7vw;
    /* background-color: #0DA34E; */
}

.blogSectionMain {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    /* background-color: #2D349F; */
}

.blogContainer {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.3vw;
    /* background-color: #046217; */
    transition-property: transform background-color height;
    transition: 0.5s ease-in-out;
}

.blogContainer figure {
    height: 15vh;
    width: 20%;
    overflow: hidden;
}

.blogContainer figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition-property: transform;
    transition: 0.5s ease-in-out;
}

.blogContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    width: 100%;
    margin-top: 0.8vw;
}

.blogContent h5 {
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.05;
}

.blogContentMain {
    position: relative;
    width: 70%;
}

.blogContentMain span{
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5px;
    width: 100%;
    background-color: var(--border-light-gray);
    transition-property: background-color height;
    transition: 0.5s ease-in-out;
}

.blogContainer:hover span {
    height: 2px;
    background-color: var(--border-medium-gray);
}

.blogContainer:hover figure img {
    transform: scale(1.1);
}

.blogContent svg {
    transition: transform 0.5s ease-in-out;
}

.blogContainer:hover .blogContent svg {
    transform: translateX(-5px);
}

/* Section 3 Starts */
.proDetail-3 {
    padding-top: 7vw;
}


/* Imgs Grid With Text split Screen */
.threeGridImg {
    width: 100%;
}

.threeGridMain {
    padding: 0 var(--section-paddingLF);
    padding-bottom: 15vw;
    /* background-color: crimson; */
}


/* Images System */
.topImg {
    height: 100vh;
    width: 100%;
}

.topImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-bottom: 0.8vw;
}

.bottomGridImg {
    display: flex;
    gap: 1vw;
}

.bottomGridImg img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.bottomGridImg .gridImg2 {
    height: 115vh;
}

/* Section 2 Style */
.bottomGridImg2 img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}


/* Text Left, Img Right */
.projectTextImg {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.proTextLeft {
    width: 50%;
}

.proTextLeft p {
    padding-top: 3vw;
    font-size: 1.8vw;
    font-weight: 300;
    padding-right: 2vw;
}

.proImgRight {
    width: 50%;
}

.proImgRight img{
    /* height: 200vh; */
    width: 100%;
    object-fit: cover;
    padding-bottom: 0.8vw;
}


/* Action Section Style to no background */
.actionContainerProjectFile {
    background: none;
    background-color: var(--white-color);
    color: var(--primary-black-color);
}



/* Footer Circle Button */
/* actionbtn css */
/* Button follow style */
.project-footer-button {
    overflow: hidden;
    text-transform: uppercase;
    border-radius: 50%;
    height: 11vw;
    width: 11vw;
    background-color: #4F5BFF;
    font-size: 1vw;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw;
    /* scale: 0;
    opacity: 0; */
    color: inherit;
    cursor: pointer;
    z-index: 22;
    transition: transform 0.4s ease-in-out;
}

.project-footer-button .svg {
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: row-reverse;
}

.project-footer-button svg {
    height: 1.5em;
    width: 1.5em;
    transition: transform 0.4s ease-in-out;
}

.project-footer-button:hover {
    transform: scale(1.1);
}

.project-footer-button:hover svg {
    transform: translateX(-5px);
}

/* Footer Style */
.projectFooter {
    background: url(../../images/goPingu/651e6db22abe64493756b054_54.webp);
    height: 110vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
}

.proFooterOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 110vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.projectFooterMain {
    padding: 5.5vw var(--section-paddingLF);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: inherit;
}

.proFooterMid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.proFooterTop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
}

.proFooterTop .proDot {
    height: 1.3vh;
    width: 1.3vh;
    background-color: var(--white-color);
    border-radius: 50%;
}

.proFooterTop p {
    font-weight: 500;
    font-size: 1vw;
}

.proFooterMid h1 {
    font-size: 6vw;
    font-weight: 500;
}

.proFooterBottom p {
    font-size: 1.5vw;
    line-height: 1.1;
}


/* Gopingu Footer Image */
.projectFooterGoPingu {
    background-image: url(../../images/accernRhea/cac2f4ff-6e94-42ea-88e5-36d88100e99f.webp);
}



/* FOR MOBILE DEVICES */
@media screen and (max-width: 767px) {
    
    .project-top-main {
        padding: 0 3vw;
        padding-top: 7vw;
        padding-bottom: 3vw;
    }
    
    .projectTitle h2 {
        font-size: 5vw;
    }
    
    .project-work .projectBTn {
        font-size: 1.1vw;
    }
    
    .headingProject p {
        font-size: 2vw;
    }
    
    .headingProject {
        align-items: start;
    }
    
    /* Style Banner Img */
    .projectBanner {
        height: 80vh;
    }
    
     
    .proTextLeft p {
        font-size: 2.2vw;
    }
    
    /* About the project section styling */
    .aboutProject {
        padding: 3vw;
        height: 80vh;
    }
    
    .aboutProjectLeft h2 {
        font-size: 4vw;
    }

    .aboutProjectRight p {
        font-size: 2vw;
    }

    .aboutProjectRightTop .projectSubHeading{
        font-size: 1.5vw;
    }
    
    
    /* Review Section Style */
    .projectReview {
        padding: 0 3vw;
        padding-bottom: 6vw;
    }
    
    .projectReviewMain img {
        height: 6vw;
        width: 6vw;
    }
    
    .projectReviewMain h3 {
        font-size: 1.8vw;
    }
    
    .projectReviewMain svg {
        font-size: 2vw;
    }
    
    .projectReviewMain h5 {
        font-size: 1.2vw;
    }


    .projectDetailMain {
        padding: 3vw;
    }
    
    .detailTitle h2 {
        font-size: 5vw;
    }
    
    .detailContent {
        padding-bottom: 5vw;
    }
    
    .detailContent p {
        font-size: 2.2vw;
    }

    
    /* section 2 starts */
    .projectDetailMain2 {
        padding: 0 3vw;
    }
    
    .detailContent2 p{
        font-size: 2vw;
    }
    
    
    .blogContainer figure {
        height: 10vh;
    }

    .blogContent h5 {
        font-size: 2vw;
    }
    

    .threeGridMain {
        padding: 0 3vw;
        padding-bottom: 10vw;
    }
    
    
    /* Images System */
    .topImg {
        height: 60vh;
    }
    
    .bottomGridImg img {
        height: 60vh;
    }
    
    .bottomGridImg .gridImg2 {
        height: 75vh;
    }
    
    /* Section 2 Style */
    .bottomGridImg2 img {
        height: 60vh;
    }
    
    
    
    /* Footer Style */
    .projectFooter {
        height: 80vh;
    }
    
    .proFooterOverlay {
        height: 80vh;
    }
    
    .projectFooterMain {
        padding: 3vw;
    }

    
    .proFooterTop .proDot {
        height: 1.8vh;
        width: 1.8vw;
    }
    
    .proFooterTop p {
        font-size: 1.5vw;
    }
    
    .proFooterMid h1 {
        font-size: 5vw;
    }
    
    .proFooterBottom p {
        font-size: 2vw;
    }
    

}