@import url(./style.css);





/* footer starts */
.footer {
    height: 100vh;
    width: 100%;
    /* background-color: orange; */
    padding: var(--section-paddingTB) var(--section-paddingLF);
    position: relative;
    background-color: var(--primary-black-color);
    padding-top: 4vw;
}

.footer-container {
    height: 92%;
    /* background-color: #0DA34E; */
}

.footer-container-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 50%;
}

.footer-right-top {
    width: 60%;
    height: 100%;
    /* background-color: yellowgreen; */
    padding: 1.2rem 0;
}

.footer-heading h2 {
    font-size: 5vw;
    font-weight: 500;
    line-height: 1;
    /* border: 1px solid white; */
}

.footer-left-top {
    padding: 1.2rem 0;
    height: 100%;
    width: 30%;
    position: relative;
    /* background-color: #4F5BFF; */
}

.footer-container h6 {
    font-size: 0.8rem;
    /* font-weight: bold; */
    color: var(--border-medium-gray);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    margin-top: 2rem;
}

.footer-container a {
    display: block;
    width: fit-content;
    color: white;
}


.footer-left-top a,
.footer-social a{
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.3rem 1rem;
    border-radius: 50px;
    border: 1px solid var(--white-color);
    text-transform: uppercase;
    background-color: var(--primary-black-color);
    transition-property: background-color color;
    transition: 0.2s ease-in;
}

.footer-social a {
    margin: 0 0.3rem 0.5rem 0;
}

.footer-left-top a:hover,
.footer-social a:hover {
    background-color: var(--white-color);
    color: var(--primary-black-color);
}

.footer-container-bottom {
    height: 50%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-links {
    width: 55%;
    height: 100%;
    /* background-color: #666666; */
    display: flex;
    justify-content: space-between;
}

.footer-links a {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.footer-links a:hover {
    color: var(--green-primary);
}

.footer-social {
    width: 30%;
    height: 100%;
    /* background-color: burlywood; */
}

.footer-top-rule {
    height: 0.5px;
    width: 85%;
    position: absolute;
    background-color: var(--border-dark-gray);
}
/* footer end */



/* footer bottom */
.footer-bottom {
    margin-top: 0.5rem;
    height: 8vh;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.footer-btm-1 {
    width: 50%;
}

.footer-btm-1 span {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
}

.footer-btm-2  {
    width: 40%;
    display: inline-flex;
    justify-content: space-between;
    /* padding-right: 1rem; */
}


.footer-bottom-rule {
    height: 1px;
    width: 85%;
    position: absolute;
    background-color: var(--border-dark-gray);
}


/* actionbtn css */
/* Button follow style */
.footer-right-top .footer-button {
    position: absolute; top: 0; left: 0;
    overflow: hidden;
    text-transform: uppercase;
    border-radius: 50%;
    height: 11vw;
    width: 11vw;
    background-color: #0DA34E;
    font-size: 1vw;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw;
    scale: 0;
    opacity: 0;
    color: inherit;
    cursor: pointer;
    z-index: 22;
}

.footer-button .svg {
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: row-reverse;
}

.footer-button svg {
    height: 1.5em;
    width: 1.5em;
}

.footer-left-top p{
    font-size: 2.2vw;
    font-weight: 500;
    line-height: 1.4;
}



/* MEDIA QUERY MOBILE DEVICES */
@media screen and (max-width: 767px) {

    
/* footer starts */
.footer {
    height: fit-content;      /* Need to improve if neccassary */
    padding: 3vw;
}

.footer-container {
    height: 92%;
    /* background-color: #0DA34E; */
}

.footer-container-top {
    flex-direction: column;
    height: 50%;
}

.footer-right-top {
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */
    padding: 1.2rem 0;
}

.footer-heading h2 {
    font-size: 5vw;
    font-weight: 500;
    line-height: 1;
    /* border: 1px solid white; */
}

.footer-left-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1.2rem 0;
    height: 100%;
    width: 100%;
}

.footer-container h6 {
    font-size: 2vw;
    margin-top: 0;
}

.footer-left-top a,
.footer-social a{
    font-size: 2vw;
    padding: 0.3rem 0.5rem;
}


/* Bottom area of footer */
.footer-social a {
    margin: 0;
}

.footer-container-bottom {
    /* min-height: 50vh; */
    /* background-color: aquamarine; */
    flex-direction: column;
    gap: 2vw;
}

.footer-links {
    width: 100%;
    height: 100%;
    /* background-color: #666666; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
}

.footer-links h6 {
    padding-right: 2vw;
}

.footerlink1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

.footerlink2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

.footerlink3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

.footer-links a {
    margin-bottom: 0;
    font-size: 2.5vw;
}

.footer-social {
    width: 50%;
    height: 100%;
    /* background-color: burlywood; */
}

.footer-social h6 {
    padding-right: 2vw;
}

.footer-social a {
    margin-bottom: 2vw;
}
/* footer end */



/* footer bottom */
.footer-bottom {
    align-items: flex-start;
    flex-direction: column;
    font-size: 0.7rem;
}

.footer-btm-1 {
    width: 100%;
}

.footer-btm-2  {
    width: 100%;
}


}